<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 3</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <!-- EXERCISE 1: Use two-way data binding to update the value of a "password"
        data property. -->
        <input v-model="password" type="password" placeholder="Enter your password">

        <!-- EXERCISE 2: Show the correct paragraph depending on the length of
        the entered password. -->
        <p v-show="password.length > 8">Awesome! Your password is longer than 8 characters.</p>
        <p v-show="password.length > 0 && password.length <= 8">Please enter a longer password.</p>
        <p v-show="password.length == 0">Please enter a password.</p>

        <!-- EXERCISE 3: Display the categories as an ordered list with each
        category's sub-categories as a nested unordered list. -->
        <ol>
            <li v-for="category in categories">
                {{ category.name }}
                <ul>
                    <li v-for="sub in category.sub">{{ sub }}</li>
                </ul>
            </li>
        </ol>
    </div>
    <script src="app.js"></script>
</body>
</html>